<div
class="google-map"
id="google-map"
></div>
<div
class="map-left"
>
  <div class="container">

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Dashboard
          </h2>
        </div>

      </div>
    </div>



    <div class="row">
      <div class="col-md-9 mt-2">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

          <div class="btn-group dropdown" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
              All Regions
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" >All Regions</a></li>
            </ul>
          </div>

          <div class="btn-group dropdown" role="group" >
            <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              All Districts
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" >All Districts</a></li>

            </ul>
          </div>

          <div class="btn-group dropdown" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              All Wards
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" >All Wards</a></li>

            </ul>
          </div>

          <div class="btn-group dropdown" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              All Villages
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" >All Villages</a></li>
            </ul>
          </div>

          <div class="btn-group dropdown" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              All Neighborhoods
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" >All Neighborhood</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
