<div
class="google-map"
id="google-map"
[style]="level == 'REGION' || level == 'DISTRICT' ? 'width: 50%' : ''"
></div>
<div class="map-left" [style]="level == 'REGION' || level == 'DISTRICT' ? 'width: 50%' : ''">
  <div class="container-fluid">

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <div class="page-pretitle">
            {{level}}
          </div>
          <h2 class="page-title">
            {{levelName}}
          </h2>
        </div>

      </div>




    <div class="row" *ngIf="level == 'REGION'">

        <img class="img-fluid" src="../assets/regions/{{selectedRegion.name}}.jpeg"></div>

    </div>

    <div style="width: 100%; min-height: 100vh" *ngIf="level == 'DISTRICT'">
      <iframe style="width: 100%; min-height: 100vh" src="https://onedrive.live.com/embed?resid=AA485CB4B75D68AD%21108&authkey=!ABhcSULuRJrR6bc&em=2" frameborder="0" scrolling="no"></iframe>
    </div>



    <!--<div class="row">
      <div class="col-md-12 mt-2">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

          <div class="btn-group dropdown" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
              {{ selectedRegion ? selectedRegion.name : "All Regions" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="max-height: 50vh;overflow: auto;">
              <li><a class="dropdown-item" (click)="selectCountry()" >All Regions</a></li>
              <li *ngFor="let region of regions" (click)="selectRegion(region)"><a class="dropdown-item" >{{region.name}}</a></li>
            </ul>
          </div>

          <div class="btn-group dropdown" *ngIf="selectedRegion" role="group" >
            <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedDistrict ? selectedDistrict.name : "All Districts" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li *ngFor="let district of selectedRegion.districts" (click)="selectDistrict(district)"><a class="dropdown-item" >{{ district.name }}</a></li>
            </ul>
          </div>

          <div class="btn-group dropdown" *ngIf="selectedDistrict" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedWard ? selectedWard.name : "All Wards" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li *ngFor="let ward of selectedDistrict.wards" (click)="selectWard(ward)"><a class="dropdown-item" >{{ ward.name }}</a></li>
            </ul>
          </div>

          <div class="btn-group dropdown" *ngIf="selectedWard" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedVillage ? selectedVillage.name : "All Villages" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li *ngFor="let village of selectedWard.villages" (click)="selectVillage(village)"><a class="dropdown-item" >{{ village.name }}</a></li>
            </ul>
          </div>

          <!--<div class="btn-group dropdown" *ngIf="selectedVillage" role="group" >
            <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedHamlet ? selectedHamlet.name : "All Hamlets" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="max-height: 50vh;overflow: auto;">
              <li *ngFor="let hamlet of selectedVillage.hamlets" (click)="selectHamlet(hamlet)"><a class="dropdown-item" >{{ hamlet.name }}</a></li>
            </ul>
          </div>--

        </div>
      </div>
    </div>-->

    <div class="row">

    </div>

  </div>
</div>

<button type="button" class="btn btn-light btn-lg back-buckon" (click)="back()" *ngIf="level != 'COUNTRY'">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M5 12l14 0"></path>
    <path d="M5 12l4 4"></path>
    <path d="M5 12l4 -4"></path>
 </svg>
  Back
</button>
